.footer-container {
    width: 100%;
    background-color: #2E2E2E;
    color: #FFF;
    padding: 20px 0;
    padding-top: 8px;
    margin-top: 35px;
    margin-left: 0px;
    margin-right: 10px;
    position: relative;
    border-radius: 5%;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #ccc;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.footer-text {
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 12.5px;
}
