body {
  background: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.home-container {
  position: relative;
  max-width: 100%;
  margin: 20px auto;
  background: #fff;
  padding: 10px 25px;
  border-radius: 6px;
  border-color: aqua;
  border-width: 10%;
  bottom: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.home-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 650;
  color: #2b6cb0;
}


.team-name {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}


.conference-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}


.team-card-container {
  display: flex;
  justify-content: space-between;
}


.team-card-column {
  flex: 1;
}


.team-card-column:first-child {
  margin-right: 5px;
}


.team-card-column:last-child {
  margin-left: 5px;
}


.col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
}


.card-body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 10px;
}


@media only screen and (max-width: 600px) {

  .home-container {
    padding: 10px;
    margin: 20px 0;
  }

  .home-container h1 {
    font-size: 24px;
  }

  .conference-title {
    font-size: 16px;
  }

  .team-card-container {
    flex-direction: column;
  }

  .team-card-column {
    margin-bottom: 20px;
  }

  .search-bar input {
    width: 100%
  }

}
