body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(247, 247, 247);
}
.wrapper{
    top: 100%;
    left: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    border-color: aqua;
    border-width: 10%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
    position: center;
    font-size: 30px;
    font-weight: 650;
    color: #2b6cb0;
    text-align: center;
}
.wrapper h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #fff;
}
.wrapper form{
    margin-top: 30px;
    margin-right: 30px;
}
.wrapper form .input-box{
    height: 52px;
    margin: 18px 0;
}
form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #948c8c;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
    border-color: #948c8c;
}
form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}
.button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #6c6e70;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    border-bottom: 4px solid #2b6cb0;
    font-weight: 700;
    color: white;
    line-height: 26px;
}
.button:hover{
    background: black;
}
form .text h3{
    color: #333;
    width: 100%;
    text-align: center;
}
form .text h3 a{
    color: #4070f4;
    text-decoration: none;
}
form .text h3 a:hover{
    text-decoration: underline;
}
