.team-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.list-group {
    padding-top: 55px;
}

.col-4 {
    margin-right: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
